<div id="nav">
  <ul class="listaNav" id="menu2">
    
    <li><a href="javascript:void(0)" class="linkNav">Cruzeiros<img src="img/seta.png" width="16" height="16" style="margin:0 0 -3px 3px;"></a>
    	<ul style="*margin-left:0;">
         <li><a href="cruzeiros-lista.php" class="linkDrop">Lista</a></li>
        <li><a href="destinos-edita.php" class="linkDrop">Destinos</a></li>
        <li><a href="intinerario-lista.php" class="linkDrop">Intinerários</a></li>
        <li><a href="portos-edita.php" class="linkDrop">Portos</a></li>
      </ul>
    
    </li>
    
    <li><a href="javascript:void(0)" class="linkNav">Companhia<img src="img/seta.png" width="16" height="16" style="margin:0 0 -3px 3px;"></a>
    	<ul style="*margin-left:0;">
        <li><a href="companhia-lista.php" class="linkDrop">Lista</a></li>
        <li><a href="companhia-edita.php" class="linkDrop">Editar Companhia</a></li>
        <li><a href="companhia-categoria-edita.php" class="linkDrop">Categoria</a></li>
      </ul>
    </li>
    
      <li><a href="#" class="linkNav">Navios<img src="img/seta.png" width="16" height="16" style="margin:0 0 -3px 3px;"></a>
    	<ul style="*margin-left:0;">
        <li><a href="navio-lista.php" class="linkDrop">Lista</a></li
        ><li><a href="navio-categoria-lista.php" class="linkDrop">Categorias</a></li>
        <li><a href="navio-atributo-lista.php" class="linkDrop">Atributos</a></li>
        <li><a href="navio-perfil-lista.php" class="linkDrop">Perfil</a></li>
        <li><a href="navio-entretenimento-lista.php" class="linkDrop">Entretenimento</a></li>
        <li><a href="navio-andar-lista.php" class="linkDrop">Andar</a></li>
        <li><a href="navio-categoria-andar-lista.php" class="linkDrop">Categoria do Andar</a></li>
        <li><a href="navio-cabine-lista.php" class="linkDrop">Cabine</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0)" class="linkNav">Sair</a></li>
    <!--  Menu Drop -->
    <!--  
    <li><a href="#" class="linkNav">Snippet<img src="img/seta.png" width="16" height="16" style="margin:0 0 -3px 3px;"></a> 
      <ul style="*margin-left:0;">
        <li><a href="#" class="linkDrop" title="Menu">Menu Link</a></li>
        <li><a href="#" class="linkDrop" title="Menu">Menu Link</a></li>
        <li><a href="#" class="linkDrop" title="Menu">Menu Link</a></li>
        <li><a href="#" class="linkDrop" title="Menu">Menu Link</a></li>
        <li><a href="#" class="linkDrop" title="Menu">Menu Link</a></li>
      </ul>
      </li>
      -->
     <!--  Menu Drop -->
  </ul>
</div>
