<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td width="13%" align="center"><img alt="admin" height="66" src="images/logoadmin.gif" width="177" /></td>
    <td width="73%" align="center">LOGO Qualitours</td>
    <td width="14%" align="center"><img alt="Agência Wld" title="Agência Wld" border="0" height="65" src="images/logo.jpg" width="215"></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td bgcolor="#007FB1">&nbsp;</td>
  </tr>
</table>