@charset "UTF-8";
/* CSS Document */
.formProcurar:focus, .formProcurarSelect:focus,.formEdit:focus, .formEditSelect:focus, .formEditSelectMultiple:focus, .formEdit2:focus, .formEditTextarea:focus, .chzn-choices:focus {
    border:#3C688F 1px solid;
}
.formProcurar {
    width:70%;
    height:25px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:0 10px 0 10px;
    font-size:12px;
    color:#666;

    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}

.formProcurarSelect {
    width:70%;
    height:25px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:0 0 0 10px;
    font-size:12px;
    color:#666;

    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.btFiltro {
    width:60px;
    height:25px;
    color:#666;
    background:#ECECEC;
    border:#999 1px solid;
    cursor:pointer;
    border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:#FFF 0px 1px 0px;
    -moz-box-shadow:#FFF 0px 1px 0px;
    -o-box-shadow:#FFF 0px 1px 0px;
    -webkit-box-shadow:#FFF 0px 1px 0px;
}
.btFiltro:hover {
    color:#FFF;
    background:#999;
}

.btFiltro {
    width:auto;
    height:auto;
    color:#666;
    padding: 3px 10px;
    background:#ECECEC;
    border:#999 1px solid;
    cursor:pointer;
    border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:#FFF 0px 1px 0px;
    -moz-box-shadow:#FFF 0px 1px 0px;
    -o-box-shadow:#FFF 0px 1px 0px;
    -webkit-box-shadow:#FFF 0px 1px 0px;
}
.btFiltro:hover {
    color:#FFF;

}
.formEditSelect {
    width:320px;
    height:25px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:0 0 0 10px;
    font-size:12px;
    color:#666;
}

.formEditSelectMultiple {
    width:98%;
    height:200px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:0 0 0 10px;
    font-size:12px;
    color:#666;
}
.formEdit {
    width:300px;
    height:25px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:0 10px 0 10px;
    font-size:12px;
    color:#666;

    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}

.formEditTextarea {
    width:400px;
    height:80px;
    border:#CCC 1px solid;
    box-shadow:#D8D8D8 0px 0px 4px;
    -moz-box-shadow:#D8D8D8 0px 0px 4px;
    -o-box-shadow:#D8D8D8 0px 0px 4px;
    -webkit-box-shadow:#D8D8D8 0px 0px 4px;
    padding:4px;
    font-size:12px;
    color:#666;

    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.formEdit2 {
    width:300px;
    height:25px;
    border:#CCC 1px solid;
    padding:0 10px 0 10px;
    font-size:12px;
    color:#666;
}
ul.listaImagens {
    margin:0 0 0 0;
    padding:0 0 0 0;
}
ul.listaImagens  li{
    margin:0 20px 0 0;
    padding:0 0 0 0;
    float:left;
    font-size: 12px;
    line-height: 14px;
}


p#vtip {
    display: none;
    position: absolute;
    padding: 5px;
    left: 5px;
    color:#666;
    font-size:10px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    z-index: 9999;
}
p#vtip #vtipArrow {
    position: absolute;
    top: -5px;
    left: 5px
}

#ui-datepicker-div{
    display: none;
}

.fLeft{
    float: left;
}

input.selectColor{
    width: 80px;
}

.ui-widget input,.ui-widget select,.ui-widget textarea{
    font-size:12px !important;
}
#tabs{
    background: #F9F9F9;
    border: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-panel{
    padding: 0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 3px 3px 0;
    -moz-border-radius: 0/*{cornerRadius}*/;
    -webkit-border-radius: 0/*{cornerRadius}*/;
    border-radius: 0/*{cornerRadius}*/;
}

.ui-tabs .ui-tabs-nav .ui-corner-top{
    -moz-border-radius: 0/*{cornerRadius}*/;
    -webkit-border-radius: 0/*{cornerRadius}*/;
    border-radius: 0/*{cornerRadius}*/;
}

.ui-helper-hidden-accessible{
    display: none !important;
}
.ui-autocomplete-loading {
    background: #FFF url('../../images/admin/ajax-loader.gif') right center no-repeat;
}