#boasVindas{
    width: 700px;
    margin: 0 auto;
}

#boasVindas .texto  {
   text-align: center;
   color:#424242;
   font-size: 24px;
   font-weight: bold;
}

#boasVindas .infos {
   text-align: center;
   color:#424242;
   font-size: 14px;
   margin-bottom: 20px
}

#boasVindas .logo{
    height: 250px;
    background: url(../../images/admin/logo.jpg) 50% no-repeat;
}

